.autocomplete {
  position: relative;
  z-index: 999999;
  width: 100%;
  padding-left: 10px;
}

.autocomplete__label {
  padding-left: 10px;
  padding-right: 10px;
}

.autocomplete__input {
  width: calc(100% - 80px);
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 0;
  height: 150px;
  overflow: auto;
  width: calc(100% - 10px);
  position: absolute;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 10px;
  cursor: pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  color: $blue;
}

.autocomplete__decoration {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0;
}
