.dropdown {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dropdown__label {
  width: fit-content;
  align-self: center;
  padding: 0 20px;
}

.dropdown__types {
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(100% - 40px);
  position: absolute;
  background-color: #fff;
  top: 36px;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown__selected {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  color: black;
  font-size: 14px;
  width: calc(100% - 120px);
  display: inline-flex;
  height: 21px;
  overflow: hidden;
  align-self: center;

  li {
    display: inline-block;
    width: fit-content;
    margin: 0;
    padding: 0;
  }
}

.dropdown__li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.dropdown__decoration {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}

.dropdown__route-container {
  display: flex;
  justify-content: space-between;
  flex: 0 1 50%;
  span {
    pointer-events: none;
  }
}

.dropdown__route-detail {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  flex: 1 1 30%;
}