.journey-type {
  width: 100%;
 display: flex;
 min-height: fit-content;
 height: fit-content;
 align-items: center;
}

.journey-type__label {
  padding: 0 10px;
}

.journey-type__select {
  width: calc(100% - 60px);
}

.journey-type__decoration {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: fit-content;
}
