.journey-type {
  width: 100%;
  margin: 0 10px;
}

.journey-type__label {
  padding: 0 10px;
}

.journey-type__select {
  width: calc(100% - 60px);
}

.journey-type__decoration {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  display: block;
}
