.progressbar {
    height: 2rem;
    width: 100%;
    background-color:#fff;
}

.progressbar__inner {
    height: 2rem;
    background-color: $yellow;
}

.progressbar__inner--single {
    width: 25%;
}