body {
  background-color: #ccc;
}

.widget {
  display: flex;
  margin: 0 auto;
  flex: 1 1 100%;
  justify-content: center;
  flex-direction: row;
}

.widget__container {
  flex: 0 1 1335px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.widget__journey-type {
  display: flex;
  flex: 0 1 30%;
  background-color: #777;
  padding: 20px 0;
}

.widget__select {
}

.widget__options {
}

.widget__options--level-1 {
  padding: 20px 0;
  display: flex;
  flex: 1 1 70%;
  justify-content: space-between;
  background-color: #999;
}

.widget__options--level-2 {
  padding: 20px 0;
  display: flex;
  flex: 1 1 100%;
  background-color: #666;
  justify-content: center;
}

.widget__options--level-3 {
  padding: 20px 0;
  display: flex;
  flex: 1 1 100%;
  background-color: black;
  justify-content: center;
  color: white;
}

.widget__level-2-center {
  flex: 0 1 80%;
  align-self: center;
  display: flex;
}

.widget__level-3-center {
  flex: 0 1 20%;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.widget__find-tickets-btn {
  height: fit-content;
  align-self: center;
}
