.widget {
  display: flex;
  margin: 0 auto;
  flex: 1 1 100%;
  justify-content: center;
  flex-direction: row;
}

.widget__container {
  flex: 0 1 1135px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.widget__type {
  display: flex;
  flex: 0 1 30%;
  background-color: magenta;
}

.widget__select {
}

.widget__options {
}

.widget__options--level-1 {
  display: flex;
  flex: 1 1 70%;
  justify-content: space-between;
  background-color: #4aae9b;
}

.widget__options--level-2 {
  display: flex;
  flex: 1 1 100%;
  background-color: blue;
  justify-content: center;
}

.widget__options--level-3 {
  display: flex;
  flex: 1 1 100%;
  background-color: red;
}

.widget__level-2-center {
  flex: 0 1 80%;
  align-self: center;
  display: flex;
}
