body {
  background-color: #ccc;
}

.widget {
  margin: 0 auto;
  max-width: 1335px;

  &__pb {
    padding-bottom: 1rem;
  }
}

.widget__single-container {
  flex: 0 1 70%;
}

.widget__container {
  flex: 0 1 1335px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.widget__journey-type {
  display: flex;
  flex: 0 1 30%;
  background-color: #777;
  padding: 20px 0;
}

.widget__options--level-1 {
  padding: 1rem ;
  display: flex;
  flex: 1 1 70%;
  justify-content: space-between;
  background-color: #999;

  a {
    align-self: center;
  }
}

.widget__options--level-2 {
  padding: 20px 0;
  display: flex;
  flex: 1 1 100%;
  background-color: #666;
  flex-wrap: wrap;
  justify-content: center;
}

.widget__options--level-3 {
  padding: 20px 0;
  display: flex;
  flex: 1 1 100%;
  background-color: black;
  justify-content: center;
  color: white;
}

.widget__level-2-center {
  flex: 0 1 80%;
  align-self: center;
  display: flex;
}

.widget__level-3-center {
  flex: 0 1 20%;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.widget__find-tickets-btn {
  height: fit-content;
  align-self: center;
}

.widget__row {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  flex: 1 1 100%;
}
